*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(230, 223, 223, 0.16);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    width: 500px;
    height: 500px;
    transition: transform 0.3s ease-in-out;
}



.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    z-index: 10;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.carousel-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.carousel-dots .dot {
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-dots .dot.active {
    background-color: #333;
}



